body {
    background-color: rgb(33,33,33);
    color: white;
    font-weight: bold;
    font-family: verdana;
    line-height: 60px;
}

a {
    color: inherit;
}

.button {
    border-radius: 15px;
    background-color: rgb(0, 60, 0);
    text-align: center;
    font-size: 20px;
    padding: 15px 30px;
    line-height: 60px;
}