.card {
    width: 600px;
    margin-top: 15px;
    background-color: rgb(40, 40, 40);
    margin-left: auto;
    margin-right: auto;
    color:white;
}

.ubootcard video {
    width: 100%;
}

.beschreibung {
    padding: 2px 16px;
}

#codecard code {
    font-size: large;
    font-weight: bold;
}

#codecard pre {
    padding-top: 10px;
}

#stimmecard audio {
    padding: 10px;
}

#zitatcard q {
    font-weight: bolder;
    position: relative;
    top: 10px;
    left: 30px;
}

#zitatcard .beschreibung {
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      ". Header ."
      ". uboot ."
      ". code ."
      ". stimme ."
      ". zitat .";
}
  
.Header { grid-area: Header; }
.ubootcard { grid-area: uboot; }
.codecard { grid-area: code; }
.stimmecard { grid-area: stimme; }
.zitatcard { grid-area: zitat; }