img {
    height: 250px;
    float: left;
    padding-right: 10px;
}

#infodiv p {
    padding: 5px 0px 5px 10px;
}

#infodiv {
    background-color: rgb(40, 40, 40);
    height: 250px;
    width: 100%;
    
}

#Profilkarte {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      ". Header ."
      ". Profilkarte .";
  }  
  
#Profilkarte { grid-area: Profilkarte; }
  
.Header { grid-area: Header; }