body {
    background-color: rgb(30,30,30);
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.aButton {
    color: inherit;
    background-color: rgb(0,127,0);
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
}

.aButton:hover {
    background-color: rgb(0,64,0);
}

.selectdiv {
    margin: 20px 0px;
}

#selectButtonDiv {
    text-align: center;
}

.kartenBild {
    width: 100px;
    height: 100px;
}