body {
    background-color: rgb(33,33,33);
    color: white;
    font-family: sans-serif;
}

.preview {
    position: relative;
    width: 250px;
}

.previewimg, .resultimg {
    position: absolute;
    width: 100%;
    left: 0;
}

.radioimg {
    width: 150px;
}

#finishB {
    color: black;
    font-weight: bold;
}

[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
}

.result {
    position: relative;
    width: 500px;
    height: 900px;
}

.antwort {
    font-weight: bold;
}

.positiv {
    color: lightgreen;
}

.negativ {
    color:red;
}
