a {
    color: inherit;
}

i:not(#kappa):not(#discordicon) {
    text-decoration: none;
    font-size: 30px;
}

address div{
    position: relative;
    margin-bottom: 20px;
    background-color: rgb(40, 40, 40);
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    width: 20%;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}

.textfeld {
    position: relative;
    bottom: 5px;
}

#valorant {
    position: relative;
    top: 5px;
}

#kappa {
    font-size: smaller;
}

img {
    width: 20%
}

body {
    color: black;
    text-align: center;
}

#kontaktformular {
    width: 800px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
    background-color: rgb(40, 40, 40);
    margin-left: auto;
    margin-right: auto;
}

.input {
    padding: 5px;
    margin-top: 5px;
}

#kontaktformular a {
    color: green;
}