body {
    background-color: rgb(33,33,33);
    color: white;
    font-family: sans-serif;
}

#preview {
    position: relative;
    width: 250px;
    height: 150px;
}

.previewimg {
    position: absolute;
    width: 100%;
    left: 0;
}

#part {
    top: 0px;
}

.radioimg {
    width: 150px;
}

#finishB {
    color: black;
    font-weight: bold;
}

[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
}